.Pay-nav{
    position: relative;
}
.Pay-nav nav{
    position :absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    left: -700px !important;
    top: -59px;
    width:170px ;
}