*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.slider{
    background: #e4c7be;
    height: 100vh;
}

.heading{
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
    color: #1259f2;
}
.slide-container{
max-width: 1000px;
position: relative;
margin: auto;

}
.slide{
padding-top: 10px;
text-align: center;
}

.slide-img img{
width: 400px;
height: 200px;
border-radius: 2px;
}
.title{
    position: absolute;
    right: 460px;
    bottom: 30px;
    color: #ffffff;
}
.prev, .next{
    font-size: 30px;
    padding: 0px 18px;
    text-decoration: none;
    cursor: pointer;
    color: #2b6bf6;
    background-color: #d89d9d;
    border: 2px #9d9797;
    border-radius: 10px;
}
.prev:hover, .next:hover{
    color: #1259f2;
}
.prev:active, .next:active{
    transform: translateY(2px);
}
.prev{
    position: absolute;
    left: 300px;
}
.next{
    position: absolute;
    right: 300px;
}
.dot-container{
    text-align: center;
    padding-top: 10px;
}
.dot {
height: 20px;
width: 20px;
margin: 2px;
background-color: #9d9797;
cursor: pointer;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.auto{
    text-align: center;
    margin: 10px;
}
.auto button{
    margin: 10px;
    background: #2b6bf6;
    padding: 5px 8px;
    color: #ffffff;
    cursor: pointer;
    border: 1px;
    border-radius: 3px;
}

.active, .dot:hover {
background-color: #141212;
}

.auto button:hover{
    background: #1259f2;
}
.auto button:active{
    transform: translateY(2px);
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
