*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    border: 1px solid;
    padding: 2px;
}
table, td{
    border: 1px solid;
    border-collapse: collapse;
}
table{
    width: 400px;
}
td{
    width: 200px;
}

td,th{
    padding: 3px;
}

.Main{
    display: flex;
    padding: 30px;
    gap: 30px;
    
}
.btn-submit,.btn-black,.btn-delete{
    border: 1px solid ;
    border-radius: 5px;
    padding: 5px ;
    color: white;
    margin: 3px;
}
.btn-submit{
    background-color: #227f18;
}
.btn-black{
    background-color: #000000;
}
.btn-delete{
    background-color: #f22828;
}
.parent{
    position: relative;
    border: 1px solid;
    padding: 10px;
    margin: 5px;
    width: 500px;
}
.child{
    border: 1px solid #f4b043;
    padding: 10px;
    margin: 3px;
}
.Table{
    text-align: left;
    position: absolute;
    left: 550px;
    
    top: 10px;
}




