.card {
    display: flex;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
  .card > * {
    border: 1px solid;
    width: 270px;
    height: 150px;
    padding: 2px;
  }
  .cardfront {
    display: flex;
    gap: 3px;
    background-color: white;
  }
  
  .cfleft,
  .cfright {
    display: flex;
    padding: 3px;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-direction: column;
  }
  
  .cardback {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }
  